# Pandas

In this notebook, I'm working with a dataset about sales in various supermarket chains. The data is taken from Kaggle, at this link https://www.kaggle.com/aungpyaeap/supermarket-sales. In this dataset, I'll consider each row (unique Invoice ID) as one visit to the supermarket.

1. Using the Pandas library, I will read the dataset from the file 'supermarket_sales.csv' downloaded to my laptop with a single function call.

In [1]:
import numpy as np
import pandas as pd
pd

In [2]:
?pd.read_csv

In [3]:
df = pd.read_csv('C:/Users/Administrator/data/hw3/supermarket_sales.csv')

2. Using the Pandas library, I'll display the first 4 and last 4 records in the dataset.

In [4]:
pd.concat([df.head(4), df.tail(4)])

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

3. Now I display the number of rows and the number of columns in the dataset, formating answer using f-string.

In [7]:
num_rows, num_columns = df.shape
print(f"Dataset contains {num_rows} rows and {num_columns} columns.")

Dataset contains 1000 rows and 17 columns.

4. Here I'll print the column names in the dataset along with their types.

In [8]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

5. Let's find how many columns of each type (text, int, float) are there in this dataset?

In [9]:
df.dtypes.value_counts()

object     9
float64    7
int64      1
Name: count, dtype: int64

6. How many total visits (number of invoices) were made by customers with different types of clients (Customer type)?

In [10]:
df.groupby('Customer type')['Customer type'].count()

Customer type
Member    501
Normal    499
Name: Customer type, dtype: int64

7. What are the product lines (Product line) in the dataset? I'll display the unique names.

In [11]:
df['Product line'].unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

8. What is the average price of products in each product line?
The product price is contained in the column 'Unit price'.

In [12]:
average_prices_by_product_line = df.groupby('Product line')['Unit price'].mean()
print(average_prices_by_product_line)

Product line
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unit price, dtype: float64

9. From which invoice (row in this data) did the store receive the highest profit (gross income)?

In [13]:
max_profit_index = df['gross income'].idxmax()
row_with_max_profit = df.loc[max_profit_index]
print(row_with_max_profit)

Invoice ID                         860-79-0874
Branch                                       C
City                                 Naypyitaw
Customer type                           Member
Gender                                  Female
Product line               Fashion accessories
Unit price                                99.3
Quantity                                    10
Tax 5%                                   49.65
Total                                  1042.65
Date                                 2/15/2019
Time                                     14:53
Payment                            Credit card
cogs                                     993.0
gross margin percentage               4.761905
gross income                             49.65
Rating                                     6.6
Name: 350, dtype: object

10. Which branch of the store ('Branch') is the most profitable? What is the total profit it has, and in which city is it located? Perhaps we should consider opening another store there? I'll calculate the result using Pandas functionality and output using f-string formatting.

In [15]:
branch_gross_income = df.groupby('Branch')['gross income'].sum()
most_profitable_branch = branch_gross_income.idxmax()
total_gross_income_most_profitable_branch = branch_gross_income.max()

city_most_profitable_branch = df[df['Branch'] == most_profitable_branch]['City'].iloc[0]
print(f'Branch "{most_profitable_branch}" is the most profitable. This branch is in {city_most_profitable_branch}.')

Branch "C" is the most profitable. This branch is in Naypyitaw.

11. Let's check programmatically if the gross margin percentage differs for different visits (invoices) to the store.

In [16]:
unique_values_count = df['gross margin percentage'].nunique()
if unique_values_count == 1:
    print("All values in column 'gross margin percentage' are the same.")
else:
    print("All values in column 'gross margin percentage' are diffrent.")

All values in column 'gross margin percentage' are the same.

12. Which branch of the store ('Branch') has the highest number of visits (invoices) with purchases of electronic accessories ('Electronic accessories')? Electronic accessories is one of the product lines. For the answer I'll create a table where the rows are the branch names, the columns are the names of the product lines, and the values are the number of visits during which electronic accessories were purchased (i.e., the number of rows in the data).

In [20]:
pivot_table = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count', fill_value=0)
new_dataframe = pd.DataFrame(pivot_table)
new_dataframe

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

As we see, that Branch A has the highest number of invoices for Electronic accessories, as well as for Home and lifestyle.
Branch B is has the highest number of invoices for Health and beauty, Sports and travel.
Branch C is has the highest number of invoices for Fashion accessories, Food and beverages.

13. Now I'll display the number of visits (invoices) hourly and draw conclusions about when the store has the most visits (here we understand one visit as one invoice).

In [21]:
df['Hour'] = pd.to_datetime(df['Time']).dt.hour
print(df['Hour'].head())

0    13
1    10
2    13
3    20
4    10
Name: Hour, dtype: int32

C:\Users\Administrator\AppData\Local\Temp\ipykernel_31224\1323590783.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Hour'] = pd.to_datetime(df['Time']).dt.hour

In [22]:
df['Hour'] = pd.to_datetime(df['Time']).dt.hour
invoices_per_hour = df.groupby('Hour')['Invoice ID'].count()
print(invoices_per_hour)

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: Invoice ID, dtype: int64

C:\Users\Administrator\AppData\Local\Temp\ipykernel_31224\4126801018.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Hour'] = pd.to_datetime(df['Time']).dt.hour

We can observe that the highest number of invoices occurs at 10, 13, 15, and 19 hours. This suggests that the busiest hours for stores are when customers are either just going to work (if offline, then just starting work), during lunch breaks, or when they are leaving work (if offline, then when they finish) or returning to work after lunch. During these times, customers are either not yet or no longer focused on work routines and may want to take a break or address personal matters.

14. Let's find which type of payment customers most frequently use?

In [23]:
most_common_payment = df['Payment'].mode().iloc[0]
most_common_payment

'Ewallet'

15. Which Branch has the highest and the lowest rating?

In [24]:
average_rating_by_branch = df.groupby('Branch')['Rating'].mean()
highest_rated_branch = average_rating_by_branch.idxmax()
highest_rated_branch

'C'

In [25]:
highest_rating_value = average_rating_by_branch.max()
highest_rating_value

7.072865853658537

In [26]:
lowest_rated_branch = average_rating_by_branch.idxmin()
lowest_rated_branch

'B'

In [27]:
lowest_rating_value = average_rating_by_branch.min()
lowest_rating_value

6.8180722891566266

We can see that the difference between the maximum and minimum ratings is not so critical, only 0.25. However, Branch B still has place for improvement.

16. Now let's consider which product line has the highest and lowest average rating?

In [28]:
average_rating_by_product_line = df.groupby('Product line')['Rating'].mean()
highest_rated_product = average_rating_by_product_line.idxmax()
highest_rated_product

'Food and beverages'

In [29]:
highest_rating_value_product = average_rating_by_product_line.max()
highest_rating_value_product

7.113218390804598

In [30]:
lowest_rated_product = average_rating_by_product_line.idxmin()
lowest_rated_product

'Home and lifestyle'

In [31]:
lowest_rating_value_product = average_rating_by_product_line.min()
lowest_rating_value_product

6.8375

We again see a relatively small deviation in the average value of 0.27, but it is probably better for the business to focus on selling higher quality products from the Food and Beverages category, or, for example, to analyze the reasons for low ratings for products from the Home and Lifestyle group. Additionally, we will analyze which product group generates the highest profits.

In [32]:
highest_gross_income_by_product_line = df.groupby('Product line')['gross income'].sum()
highest_gross_income_by_product_line

Product line
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Food and beverages        2673.5640
Health and beauty         2342.5590
Home and lifestyle        2564.8530
Sports and travel         2624.8965
Name: gross income, dtype: float64

As we can see, the Home and Lifestyle category generates relatively low income, and it is worth improving the quality of the products, as there is likely a direct correlation. On the other hand, the Food and Beverages category appears to be balanced, as it ranks first in terms of revenue.